{% extends "layout.html" %}
{% block title %}SignUp{% endblock %}
{%  block section %}
    <div class="widget-column footer-widget-2">
	<section id="text-9" class="widget widget_text"><h2 class="widget-title">Signup For Portal </h2>
	    <div class="textwidget">
		 <form   action = "/signup4" method = "POST" >{% csrf_token %}

<p>  choose a strong  password :<br>
                 <input type = "text" name = "passwd" /></br>              </p>
           <input type = "submit" value = "Next" /><br>            </p>
                 </form>
    </div>
{% endblock %}

      