
{% extends "layout.html" %}
{% block title %} About {% endblock %}
{% block section %}
					
					<div class="widget-column footer-widget-2">
				<section id="text-9" class="widget widget_text"><h2 class="widget-title">About This Website </h2>			<div class="textwidget">
			<p>1. This is a platform to share Files within an organization </p>
<p>1. This is a platform to share Files within an organization </p>
<p>1. This is a platform to share Files within an organization </p>
<p>1. This is a platform to share Files within an organization </p>
<p>1. This is a platform to share Files within an organization </p>
<p>1. This is a platform to share Files within an organization </p> 
<p>1. This is a platform to share Files within an organization </p>
			
				</div>
		
{% endblock %}
